.arrowcls {
    padding-left: 54px !important;
    margin-top: 27px;
    font-size: 23px;
    width: 16.666667%;
}
.cls a{
    text-decoration: none;
    color: white;

}
.cls{
    margin-bottom: 15px;
    border-radius: 5px;


}
.m{
    width: 17%;
}